# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Firebase configuration files
firebase.js        # Tai tiedoston nimi, jossa firebaseConfig on
firebase-config.json # Jos käytät erillistä JSON-tiedostoa
google-services.json # Google Services -tiedosto Androidille
GoogleService-Info.plist # Google Services -tiedosto iOS:lle (jos käytät)

# Muut mahdolliset Firebase-tiedostot
*.json.secret # Jos käytät salaisia JSON-tiedostoja
*.plist.secret # Jos käytät salaisia plist-tiedostoja

# Yleiset tiedostot, joita ei kannata lisätä versionhallintaan
.env             # Ympäristömuuttujatiedosto (yleinen)
.env.development # Ympäristömuuttujatiedosto (kehitys)
.env.production  # Ympäristömuuttujatiedosto (tuotanto)